html, body {
	width: 100%;
	height: 100%;
	min-height: 800px;
	margin: 0;
	padding: 0;
}

#header {
	width: 100%;
	height: 70px;
	background-color: #FFFFFF;
}

	#header h3 {
		margin: 0;
		padding: 10px;
		text-align: center;
		box-shadow: 0 2px 3px rgba(0, 0, 0, .14);
	}

#main-image {
	width: 100%;
	height: 90%;
	background: url("nolocals.png") 0 -80px;
	background-size: cover;
}

#content {
	width: 100%;
	height: 50%;
	padding-top: 100px;
	background-color: #FFFFFF;
}

#homelink {
	align-content: center;
	margin:10px;
	font-weight: bold;
}

#about-me
{
	background-color: #EEEEEE;
	text-align: center;
	width: 25%;
	margin:0 auto;
	padding: 10px;
	margin-bottom: 50px;
	box-shadow: 0 2px 3px rgba(0, 0, 0, .14);
}

	.button {

		width: 50%;
		height: 70px;
		line-height: 70px;
		margin: 0 auto;
		opacity: 0.5;
		text-align: center;
		background-color: #EEEEEE;
		border-color: #111111;
		border-radius: 5px;
		transition: all .25s ease-in-out;
		-webkit-transition: all .25s ease-in-out;
	}

		.button:hover {
			opacity: 1;
		}

#footer {
	display: block;
	width: 100%;
	height: 200px;
	padding-top: 25px;
	text-align: center;
	color: #FFFFFF;
	background-color: #3E454C;
}

	#footer p {
		margin: 0;
		padding: 0;
	}

	.post {
  width: 700px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 32px;
  background: white;

  /* If you have extra time */
  box-shadow: 0 2px 3px rgba(0, 0, 0, .24);
}

.post-title {
  margin: 0;
  padding: 8px;
}

.post-img {
  width: 100%;
}

.post-desc {
  margin: 0;
  padding: 8px;
}

.hero {
  width: 100vw;
  height: 85vh;
  background-image: url('nolocals.png');
  background-size: cover;
  background-position: center center;

  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-title {
  font-size: 54px;
  font-weight: bold;

  padding-left: 34px;
  padding-right: 34px;
  padding-top: 16px;
  padding-bottom: 16px;
  background: white;

  /* If you have extra time */
  box-shadow: 0 8px 12px rgba(0, 0, 0, .24);
}
