body {
    background-color: #EFEEEF;
    font-family: "Georgia", Georgia, serif;
}

h1 {
    margin: auto;
    width: 50%;
    padding: 10px;
    text-align: center;

}


h2 {
    margin: auto;
    width: 50%;
    padding:10px;
}


img {
    margin:auto;
    width:45%;
    padding:10px;
    float:left;
}

ul {
    list-style-type: none;
}

li {
    margin: 1em 0;
}

.topbar {
    margin:auto;
    width:50%;
    vertical-align: bottom;
    display: block;
}

.half-banner {
    margin-left: 23%;
    width: 117%;
    text-align:center;

    padding-bottom: 25%;
}

.banner {
    margin-left: 23%;
    width: 117%;
    text-align:center;

    padding-bottom: 42%;
}

.imageText {
    padding:10px;
}

.project {
    margin:auto;
    width:50%;
    padding:10px;
    border: 3px solid #A9A9A9;
    display: table;
}

.foot {
    margin:auto;
    width:50%;
}

.title {
     margin:0px;
    width:100%;
    padding:10px;
    border: 3px solid black;
    background-color: #F6F6F6;
    font-weight: bold;


}