body {
    background-image: url("images/Background.png");
    font-family: "Georgia", Georgia, serif;
}

h1 {
    margin: auto;
    text-decoration:underline;

}


h2 {
    margin: auto;
    width: 50%;
    padding:10px;
}


img {
    width:50%;
    padding:10px;
    text-align:center;
}

ul {
    list-style-type: none;
}

li {
    margin: 1em 0;
}

header {
    background-color: #D56F3E;
    color:white;
    text-align:center;
    padding: 20px;
}

footer {
    background-color: #D56F3E;
    color:white;
    text-align:center;
    padding: 20px;
}

.wrap {
  width: 80%;
  max-width: 24em;
  margin: 0 auto;
  padding: 0.25em 0.625em;
}

.foot {
    margin:auto;
    width:50%;
}

.band {
    margin: 10px;
    margin:auto;
    margin-top:50px;
    margin-bottom:50px;
    width: 60%;
    color: black;
    border: 3px solid black;
    padding: 10px;
    text-align: center;
    background-color: #EEEEEE;
}

.project {
    margin: 10px;
    margin:auto;
    margin-top:50px;
    margin-bottom:50px;
    width: 50%;
    color: black;
    border: 3px solid black;
    padding: 10px;
    text-align: left;
    background-color: #EEEEEE;
}

.title {
     margin:0px;
    width:100%;
    padding:10px;
    border: 3px solid black;
    background-color: #F6F6F6;
    font-weight: bold;
    text-align: center;

}

.imageText {
    padding:10px;
}